<div nz-row style="margin-top: 3px; margin-bottom: 1px;">
  <div nz-col nzSpan="4" style="text-align: left; padding-left: 3px;">
    <button *ngIf=" currentUser.roleId === 'KT'" style="float:left" nz-button nzSize="small" nzType="primary" (click)="addNewItem()">
      <i nz-icon nzType="plus"></i>Thêm</button>
    <button style="float:left; margin-left: 2px;" nz-button nzSize="small" nz-button nzType="primary" type="button"
      [nzLoading]="loadingExportExcel" (click)="exportExcel()">
      <i nz-icon nzType="download" nzTheme="outline"></i>Xuất excel </button>
  </div>

  <div nz-col nzSpan="8" style="text-align: left;">
    <div style="float:right">
      <input nzSize="small"  style="width: 150px;margin-left: 2px;"  type="date" nz-input [(ngModel)]="displayData.fromDate"
      placeholder="Từ" />
      <input nzSize="small"  style="width: 150px;margin-left: 2px;"  type="date" nz-input [(ngModel)]="displayData.toDate"
      placeholder="Đến" />
      <button nz-button nzSize="small" nzType="primary" style="margin-left: 2px;" (click)="filterTable()">
        <i nz-icon nzType="search" nzTheme="outline"></i>Lấy dữ liệu</button>
    </div>
  </div>

  <div nz-col nzSpan="12" style="text-align: right;">
    <div style="float:right;padding-left: 5px">
      <nz-input-group nzSize="small" [nzSuffix]="suffixIconSearch">
        <input type="text" [(ngModel)]="valueModel" (ngModelChange)="changeSearch($event)" nz-input
          placeholder="Tìm kiếm" />
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </nz-input-group>
    </div>
  </div>
</div>
<nz-table [nzScroll]="{ x: '3175px'}" #fixedTable nzSize="small" nzBordered nzShowSizeChanger
  [nzFrontPagination]="false" [nzData]="listOfData" nzShowQuickJumper="true" [(nzPageSize)]="displayData.PageSize"
  nzShowTotal [nzPageSizeOptions]="pageSizeOptions" [(nzPageIndex)]="displayData.PageNumber" nzBordered
  [nzLoading]="loading" [nzTotal]="total" (nzQueryParams)="onQueryParamsChange($event)" [nzShowTotal]="rangeTemplate"
  nzSize="small">
  <ng-template #rangeTemplate let-range="range" let-total>
    {{range[0]}}-{{range[1]}} của {{total}} bản ghi
  </ng-template>
  <thead>
    <tr>
      <th nzLeft="0px" nzWidth="50px" nzAlign="center">STT</th>
      <th nzLeft="50px" nzWidth="150px" nzAlign="center" nzCustomFilter nzColumnKey="ngayMuaName" [nzSortFn]="true">Ngày mua
        <nz-filter-trigger [nzDropdownMenu]="menu1">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu1="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('ngayMuaName',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzLeft="200px" nzWidth="150px" nzAlign="center" nzCustomFilter nzColumnKey="ngayThanhToanName" [nzSortFn]="true">
        Ngày thanh toán
        <nz-filter-trigger [nzDropdownMenu]="menu2">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('ngayThanhToanName',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzLeft="350px" nzWidth="150px" nzAlign="center" nzCustomFilter nzColumnKey="maDonMua" [nzSortFn]="true">Mã đơn hàng
        <nz-filter-trigger [nzDropdownMenu]="menu3">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu3="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('maDonMua',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzLeft="500px" nzWidth="200px" nzAlign="center" nzCustomFilter nzColumnKey="maNhaCungCap" [nzSortFn]="true">Mã
        nhà cung cấp
        <nz-filter-trigger [nzDropdownMenu]="menu4">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu4="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('maNhaCungCap',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzWidth="250px" nzAlign="center" nzCustomFilter nzColumnKey="maSoThueNhaCungCap" [nzSortFn]="true">Mã số thuế
        <nz-filter-trigger [nzDropdownMenu]="menu5">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu5="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('maSoThueNhaCungCap',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzWidth="200px" nzAlign="center" nzCustomFilter nzColumnKey="tenNhaCungCap" [nzSortFn]="true">Tên nhà cung cấp
        <nz-filter-trigger [nzDropdownMenu]="menu6">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu6="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('tenNhaCungCap',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzWidth="150px" nzAlign="center" nzCustomFilter nzColumnKey="emailNhaCungCap" [nzSortFn]="true">Email
        <nz-filter-trigger [nzDropdownMenu]="menu7">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu7="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('emailNhaCungCap',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzWidth="250px" nzAlign="center" nzCustomFilter nzColumnKey="diaChiDKKD" [nzSortFn]="true">Địa chỉ đăng ký
        kinh doanh
        <nz-filter-trigger [nzDropdownMenu]="menu8">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu8="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('diaChiDKKD',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzWidth="250px" nzAlign="center" nzCustomFilter nzColumnKey="diaChiPhongGiaoDich" [nzSortFn]="true">Văn phòng giao dịch
        <nz-filter-trigger [nzDropdownMenu]="menu9">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu9="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('diaChiPhongGiaoDich',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzWidth="250px" nzAlign="center" nzCustomFilter nzColumnKey="soDienThoaiKeToan" [nzSortFn]="true">SĐT kế toán
        <nz-filter-trigger [nzDropdownMenu]="menu10">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu10="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('soDienThoaiKeToan',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzWidth="250px" nzAlign="center" nzCustomFilter nzColumnKey="soDienThoaiNGuoiDaiDienPhapLuat" [nzSortFn]="true">SĐT người đại diện
        <nz-filter-trigger [nzDropdownMenu]="menu11">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu11="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('soDienThoaiNGuoiDaiDienPhapLuat',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzWidth="150px" nzAlign="center" nzCustomFilter nzColumnKey="productCode" [nzSortFn]="true">Sản phẩm
        <nz-filter-trigger [nzDropdownMenu]="menu12">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu12="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('productCode',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzWidth="150px" nzAlign="center" nzCustomFilter nzColumnKey="productName" [nzSortFn]="true">Tên sản phẩm
        <nz-filter-trigger [nzDropdownMenu]="menu13">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu13="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('productName',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>
      <th nzWidth="150px" nzAlign="center" nzCustomFilter nzColumnKey="retailPrice" [nzSortFn]="true">Giá bán lẻ
        <nz-filter-trigger [nzDropdownMenu]="menu14">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu14="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('retailPrice',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzWidth="250px" nzAlign="center" nzCustomFilter nzColumnKey="tongLuongMua" [nzSortFn]="true">Tổng lượng mua
        <nz-filter-trigger [nzDropdownMenu]="menu15">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu15="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('tongLuongMua',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzWidth="250px" nzAlign="center" nzCustomFilter nzColumnKey="chietKhauMua" [nzSortFn]="true">Chiết khấu mua
        <nz-filter-trigger [nzDropdownMenu]="menu16">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
        <nz-dropdown-menu #menu16="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="..." [(ngModel)]="searchValue"
                (ngModelChange)="onChangeSearch('chietKhauMua',$event)" />
            </div>
          </div>
        </nz-dropdown-menu>
      </th>

      <th nzWidth="75px" nzRight nzAlign="center">Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of fixedTable.data; let i = index">
      <td nzLeft="0px" nzWidth="50px" nzAlign="center">{{ i + 1 }}</td>
      <td nzLeft="50px" nzWidth="150px" nzAlign="center">{{ data?.ngayMua | date:'dd/MM/yyyy' }}</td>
      <td nzLeft="200px" nzWidth="150px" nzAlign="center">{{ data?.ngayThanhToan | date:'dd/MM/yyyy' }}</td>
      <td nzLeft="350px" nzWidth="150px" nzAlign="center">{{ data?.maDonMua }}</td>
      <td nzLeft="500px" nzWidth="150px" nzAlign="center">{{ data?.maNhaCungCap }}</td>
      <!-- <td nzLeft="500px" nzWidth="200px" nzAlign="center">{{ data?.tenKhachHang }}</td> -->
      <td nzWidth="200px" nzAlign="center">{{ data?.maSoThueNhaCungCap }}</td>
      <td nzWidth="200px" nzAlign="center">{{ data?.tenNhaCungCap }}</td>
      <td nzWidth="150px" nzAlign="center">{{ data?.emailNhaCungCap }}</td>
      <td nzWidth="250px" nzAlign="center">{{ data?.diaChiDKKD }}</td>
      <td nzWidth="200px" nzAlign="center">{{ data?.diaChiPhongGiaoDich }}</td>
      <td nzWidth="200px" nzAlign="center">{{ data?.soDienThoaiKeToan }}</td>
      <td nzWidth="200px" nzAlign="center">{{ data?.soDienThoaiNGuoiDaiDienPhapLuat }}</td>
      <td nzWidth="200px" nzAlign="center">{{ data?.productCode }}</td>
      <td nzWidth="200px" nzAlign="center">{{ data?.productName }}</td>
      <td nzWidth="200px" nzAlign="center">{{ data?.retailPrice }}</td>
      <td nzWidth="200px" nzAlign="center">{{ data?.tongLuongMua }}</td>
      <td nzWidth="200px" nzAlign="center">{{ data?.chietKhauMua }}</td>

      <td nzWidth="75px" nzRight nzAlign="center">
        <nz-button-group nzSize="small" *ngIf=" currentUser.roleId === 'KT'">
          <button nz-button nzType="primary" (click)="editItem(data)" nz-tooltip nzTooltipTitle="Sửa">
            <i nz-icon nzType="edit"></i>
          </button>
        </nz-button-group>
        <!-- <nz-button-group nzSize="small" *ngIf=" currentUser.roleId === 'KT'">
          <button nz-button nzType="primary" (click)="editItem(data)" nz-tooltip nzTooltipTitle="Sửa">
            <i nz-icon nzType="edit"></i>
          </button>
        </nz-button-group> -->
        <button *ngIf=" currentUser.roleId !== 'KT'" nz-button nzType="default" (click)="viewItem(data)">
          <i nz-icon nzType="eye"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
