<nz-tabset>
  <nz-tab nzTitle="Chờ phê duyệt">
    <ng-template nz-tab>
      <app-tab-trang-thai-don-hang-hoa-don [trangThai]="0"></app-tab-trang-thai-don-hang-hoa-don>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Đã duyệt">
    <ng-template nz-tab>
      <app-tab-trang-thai-don-hang-hoa-don [trangThai]="1"></app-tab-trang-thai-don-hang-hoa-don>
    </ng-template>
  </nz-tab>
  <!-- <nz-tab nzTitle="Rút hàng">
    <ng-template nz-tab>
      <app-tab-trang-thai-don-hang-hoa-don [trangThai]="2"></app-tab-trang-thai-don-hang-hoa-don>
    </ng-template>
  </nz-tab> -->
  <nz-tab nzTitle="Điều xe">
    <ng-template nz-tab>
      <app-tab-trang-thai-don-hang-hoa-don [trangThai]="3"></app-tab-trang-thai-don-hang-hoa-don>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Lấy xong hàng">
    <ng-template nz-tab>
      <app-tab-trang-thai-don-hang-hoa-don [trangThai]="4"></app-tab-trang-thai-don-hang-hoa-don>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Đang giao">
    <ng-template nz-tab>
      <app-tab-trang-thai-don-hang-hoa-don [trangThai]="5"></app-tab-trang-thai-don-hang-hoa-don>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Đã giao">
    <ng-template nz-tab>
      <app-tab-trang-thai-don-hang-hoa-don [trangThai]="6"></app-tab-trang-thai-don-hang-hoa-don>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Chưa thanh toán">
    <ng-template nz-tab>
      <app-tab-trang-thai-don-hang-hoa-don [trangThai]="7"></app-tab-trang-thai-don-hang-hoa-don>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Đã thanh toán">
    <ng-template nz-tab>
      <app-tab-trang-thai-don-hang-hoa-don [trangThai]="8"></app-tab-trang-thai-don-hang-hoa-don>
    </ng-template>
  </nz-tab>
</nz-tabset>