<nz-button-group>
    <button style="margin-left: 5px;" nz-button nzType="primary" (click)="BackPages()"><i nz-icon nzType="left"></i>
        Quay lại</button>
</nz-button-group>
<form style="margin-left: 5px;margin-right: 5px;" nz-form [formGroup]="myFormGroup" class="login-form">
    <div>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="vungChietKhau">Vùng chiết khấu</nz-form-label>
            <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Không được bỏ trống!">
                <input nz-input nzSize="small" formControlName="vungChietKhau" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="chietKhau">Chiết khấu</nz-form-label>
            <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Không được bỏ trống!">
                <input nz-input nzSize="small" type="number" formControlName="chietKhau" />
            </nz-form-control>
        </nz-form-item>
    </div>
</form>

<div style="margin: 10px 5px 10px 0px; text-align: right; padding-bottom:20px;">
    <button *ngIf="!isAddNew" nz-button nzType="primary" nzDanger (click)="removeItem()" style="width:20%">Xóa</button>
    <button nz-button nzType="primary" (click)="saveChanges()" style=" margin-left: 2%;width:20%;max-width: 100px; ">Lưu</button>
</div>