<form nz-form [formGroup]="myFormGroup" class="login-form">
    <div >
      
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="tenPhuongAn">Tên phương án</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Không được bỏ trống!">
                <input nz-input nzSize="small"  formControlName="tenPhuongAn" />
            </nz-form-control>
        </nz-form-item>
    </div>
</form>

<div *nzModalFooter>
<button nz-button nzType="default" (click)="closeModal()">Hủy bỏ</button>
<button nz-button nzType="primary" (click)="saveChanges()">Lưu</button>
</div>